node_modules
.idea
tmp
.DS_store
iob_npm.done
admin/i18n/flat.txt
admin/i18n/*/flat.txt
nbproject
/src-admin/package-lock.json
/src-admin/node_modules
/src-admin/build
/src-admin/src/Components/cp-react-tree-table/package-lock.json
package-lock.json
/src-rules/package-lock.json
/src-rules/node_modules
/src-rules/build
/build

.dev-server
.vscode
/iobroker.iot-*.tgz
.__mf__temp

#ignore .commitinfo created by ioBroker release script
.commitinfo
