node_modules
.idea
tmp
.DS_store
iob_npm.done
admin/i18n/flat.txt
admin/i18n/*/flat.txt
nbproject
/src/package-lock.json
/src/node_modules
/src/build
/src/src/Components/cp-react-tree-table/package-lock.json
package-lock.json
/src-rules/package-lock.json
/src-rules/node_modules
/src-rules/build

.dev-server
.vscode
