/**/*
/gulpfile.js
gulpfile.js
!/doc/**/*
!/doc/*
!/img/**/*
!/img/*
!/keys/*
!/lib/**/*
!/lib/*
!/admin/**/*
!/admin/*
!/widgets/*
!/widgets/**/*
!/io-package.json
!/package.json
!/LICENSE
!/main.js
!/README.md
